.title {
  text-align: center;
  padding-top: 2rem;
}

.nickname-row {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .delete-icon {
    padding-top: 1rem;
    padding-left: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.button-row {
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
}
