<h2 class="title">Nickname Editor</h2>

<form [formGroup]="nicknamesForm" (ngSubmit)="onSubmit()">

  <div formArrayName="nicknamesArray">
    <div *ngFor="let nickname of nicknamesFormArray.controls; let i=index" class="nickname-row">
      <app-nickname-item [form]="getNicknamesFormArrayAt(i)"></app-nickname-item>
      <mat-icon (click)="removeNickname(i)" class="delete-icon">delete</mat-icon>
    </div>
  </div>

  <div class="button-row">
    <button mat-mini-fab class="button-add"
            type="button" color="accent" aria-label="Add a nickname"
            (click)="addNickname('')">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-flat-button class="button-submit"
            type="submit" color="primary"
            [disabled]="!nicknamesForm.valid">
      Submit
    </button>
  </div>

</form>
