.title {
  text-align: center;
  padding-top: 2rem;
}

.nickname-form {
  padding: 1.5rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto;
}

.nickname-row {
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .delete-icon {
    padding-top: 1rem;
    padding-left: 2rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.button-row {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
}
